<div class="navbar">
  <div class="navbar__logo">What up pup?</div>
  <div class="navbar__sidelink">
    <a (click)="toggleToShowSignIn()" class="pointer"> Sign In </a>
    <a (click)="toggleToShowSignup()" class="pointer"> Sign Up </a>
  </div>
  <div class="navbar__search"><input type="text" /> <button>SBtn</button></div>
</div>

<app-signup *ngIf="toShowSignup" (toggleModalEvent)="toggleToShowSignup()">
</app-signup>

<app-signin *ngIf="toShowSignIn" (toggleModalEvent)="toggleToShowSignIn()">
</app-signin>
