.itemsContainer {
  font-size: 1.25rem;
  position: relative;
  background-color: #fff;
}
.itemsContainer__items {
  display: flex;
  overflow-x: hidden;
  padding: 10px;
  margin: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
}

.item > img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.item__currency {
  text-align: center;
}

/* Make scroll bar shows up once it is hovered or focus*/
.itemsContainer__items:hover,
.itemsContainer__items:focus {
  overflow-x: scroll;
}

.itemsContainer:hover .itemsContainer__control-left,
.itemsContainer:hover .itemsContainer__control-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemsContainer__control {
  box-shadow: 0 2px 3px #888;
  width: 45px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 65px;
  display: none;
  background-color: #fff;
  cursor: pointer;
}

.itemsContainer__control-left {
  left: 5px;
  border-radius: 0 4px 4px 0;
  /*used to make the left edge have no line.  Blends in with the out div */
  clip: rect(-10px, 55px, 110px, 0);
}

.itemsContainer__control-right {
  right: 5px;
  border-radius: 4px 0 0 4px;
  clip: rect(-10px, 45px, 110px, -10px);
}
